.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  column-gap: 5px;
  -ms-grid-column-align: center;
  place-items: center;
  color: black;
  
}

.product {
  border-radius: 15px;
  width: 330px;
  height: 450px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: -1px 4px 14px -1px rgba(201,201,201,1);
-moz-box-shadow: -1px 4px 14px -1px rgba(201,201,201,1);
box-shadow: -1px 4px 14px -1px rgb(212, 212, 212);
}
.img{
  width: 55%;
  height: 50%;
}
.product img {
  width: 90%;
  height: auto;
}

.product .description {
  width: 18em;
  text-align: center;
  color: black;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
  color: black;
}

/* .addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  color: black;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;

} */
